/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Nunito", sans-serif;
    --primary-color: #5F5969;
    --secondary-color: #7C7287; 
    --highlight-color: #88C4A8; 
    --highlight-color-light: #AFDBBD; 
    --list-title-size: 24px;
}

/* Global styles */
body {
    font-family: var(--primary-font);
    margin-top: 56px;
}

h1,
h2,
h3,
ol li {
    font-family: var(--secondary-font);
}

h1,
h2 {
    color: var(--primary-color);
    font-weight: 550;
}

h2 {
    margin-top: 56px;
    padding-top: 16px;
}

h3,
ol li {
    color: var(--secondary-color);
}


/* Buttons */

/* Navbar */

#navbar {
    background-color: var(--primary-color);
}

#navbar * {
    color: white;
}

#navbar .navbar-brand {
    font-weight: 550;
}

/* Header */

/* What is Safeguarding section */
#whatissafeguarding h3 {
    font-size: var(--list-title-size);
}

/* Signs to Watch For section */
#signstowatchfor h3 {
    font-size: var(--list-title-size);
}

/* Action Steps section */
#actionsteps h3,
#actionsteps li {
    font-size: var(--list-title-size);
}
#actionsteps ol p {
    padding-left: 2px;
}

/* Footer / contact */

#footer {
    background-color: var(--primary-color);
    width: 100vw;
    margin-left: 0;
}

#footer *{
    color: white;
}

/* Media queries */

/* Medium devices (tablets, 768px and up) */

/* Large devices (small laptops, 992px and up) */

/* xl devices (large desktops, 1200px and up) */

/* xxl devices (larger desktops, 1400px and up) */